# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\外包\Lp-Rpc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
